In [4]:
#%matplotlib inline
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import math
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2021-07-21 19:40:25,55.7435,-97.8558,73.56,53,75,4.61
1,1,Port Blair,IN,2021-07-21 19:44:27,11.6667,92.7500,81.07,85,100,22.75
2,2,Cherskiy,RU,2021-07-21 19:42:24,68.7500,161.3000,54.57,53,4,1.30
3,3,Port Elizabeth,ZA,2021-07-21 19:42:24,-33.9180,25.5701,48.09,73,80,28.27
4,4,Cape Town,ZA,2021-07-21 19:38:27,-33.9258,18.4232,49.10,72,20,1.99

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
   temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
#print(heat_layer)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudinesss
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2021-07-21 19:40:25,55.7435,-97.8558,73.56,53,75,4.61
5,5,Nikolskoye,RU,2021-07-21 19:42:25,59.7035,30.7861,60.69,65,12,4.79
7,7,Pescara,IT,2021-07-21 19:39:15,42.3333,13.9500,76.46,57,28,2.89
8,8,Avarua,CK,2021-07-21 19:39:53,-21.2078,-159.7750,77.05,88,20,8.05
11,11,Norman Wells,CA,2021-07-21 19:42:26,65.2820,-126.8329,78.84,47,75,11.50
12,12,Kendari,ID,2021-07-21 19:42:27,-3.9450,122.4989,72.32,96,99,3.40
13,13,Porto Novo,BJ,2021-07-21 19:39:16,6.4965,2.6036,78.62,76,97,9.37
17,17,Ponta Do Sol,PT,2021-07-21 19:42:28,32.6667,-17.1000,74.71,80,0,2.98
21,21,Honiara,SB,2021-07-21 19:39:18,-9.4333,159.9500,76.28,89,30,5.17
24,24,Kargasok,RU,2021-07-21 19:39:19,59.0556,80.8572,62.37,76,66,7.85

In [19]:
preferred_cities_df.count()

City_ID       256
City          256
Country       254
Date          256
Lat           256
Lng           256
Max Temp      256
Humidity      256
Cloudiness    256
Wind Speed    256
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0       Thompson      CA     73.56  55.7435  -97.8558
5     Nikolskoye      RU     60.69  59.7035   30.7861
7        Pescara      IT     76.46  42.3333   13.9500
8         Avarua      CK     77.05 -21.2078 -159.7750
11  Norman Wells      CA     78.84  65.2820 -126.8329
12       Kendari      ID     72.32  -3.9450  122.4989
13    Porto Novo      BJ     78.62   6.4965    2.6036
17  Ponta Do Sol      PT     74.71  32.6667  -17.1000
21       Honiara      SB     76.28  -9.4333  159.9500
24      Kargasok      RU     62.37  59.0556   80.8572

In [21]:
#https://maps.googleapis.com/maps/api/place/findplacefromtext/output?parameters
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Thompson,CA,73.56,55.7435,-97.8558,Burntwood Hotel
5,Nikolskoye,RU,60.69,59.7035,30.7861,Tourist House - Sablino
7,Pescara,IT,76.46,42.3333,13.9500,Casa Gavenniae
8,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
11,Norman Wells,CA,78.84,65.2820,-126.8329,Heritage Hotel
...,...,...,...,...,...,...
569,Kamenka,RU,66.99,51.3223,42.7678,
572,Sampit,ID,73.65,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
573,Vao,NC,70.57,-22.6667,167.4833,Hotel Kou-Bugny
575,Yumen,CN,75.18,40.2833,97.2000,
577,Almaznyy,RU,75.34,48.0448,40.0450,

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))